<script type="text/javascript">
  $(document).ready(function(){
    $(".tag-selector").select2({
    });
  })
</script>

<%= form_for ([@question]) do |f| %>
<% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited
        this question from being saved:
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title %>

  <%= t(:question, scope: :questions) %>
  <div class="content active" id="comment_pane">
    <%= f.text_area :body,id: "MathInput", class:"output", rows: "10", onkeyup: "previewPanel()" %>
  </div>
  <%= t(:preview) %>
  <hr>
  <div id="MathOutput" class="output">` `</div>
  <hr>
  <%= f.collection_select(:tag_ids,Tag.all,:id,:name, {label: t(:tags, scope: :questions)}, { class:"tag-selector", multiple:"multiple", placeholder:"#{t(:select_tags, scope: :questions)}"}) %>
  <%= f.submit class:"button" %>
<% end %>