<div class="row">
  <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
  <div class="large-10 columns">
    <div class="Question-Title">
    <%= link_to question.title, question_path(question) %>
    </div>
    <p><strong><%= question.user.username %> <%= t(:said) %>:</strong> <%= question.body %></p>
    <ul class="inline-list">
      <li>
        <%= link_to t(:comment, scope: :questions), new_question_question_comment_path(question) %>
      </li>
      <li>
        <%= link_to t(:reply, scope: :questions), new_question_answer_path(question) %>
      </li>
      <li>
        <%= link_to t(:edit, scope: :questions), edit_question_path(question) %>
      </li>
    </ul>
  </div>
</div>
<% unless request.env['PATH_INFO'] == root_path %>
  <div class="row">
    <div class="large-12 columns">
      <%= t(:comments, scope: :questions) %>
    </div>
    <div class="large-10 columns">
      <%= render question.question_comments %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 colums">
      <%= t(:answers, scope: :questions) %> : <%= @answers.count %>
    </div>
    <div class="large-12 colums">
      <%= render question.answers %>
    </div>
  </div>
  <hr />
  <div class="row">
  <div class="large-10 columns">
    <%= t(:answer_this_question, scope: :questions) %>
    <%= render './answers/form' %>
  </div>
<% end %>

<hr/>