<div class="row">
  <div class="large-11 columns question-title">
    <div class="question-title-text">
      <h4>
        <%= link_to question.title, question_path(question) %>
      </h4>
    </div>
  </div>
  <div class="large-1 columns question-title">
    <div class="question-title-link">
      <h4>
        <%= edit_question_toggle current_user, question %>
      </h4>
    </div>
  </div>
</div>
<div class="row question-row">
  <%= render partial: "#{@vote_controls}",object: question, as: 'question' %>
  <div class="large-11 columns question-body">
    <%= simple_format(question.body) %>
  </div>
  <div class="large-11 columns question-info">
    <div class="small-9 columns">
      <ul class="inline-list tags">
        <li>
          <i class='fa fa-tags'></i>
        </li>
        <%= render question.tags %>
      </ul>
    </div>
    <div class="small-3 columns user-info">
      <div class="question-time">
        <%= t(:asked, scope: :questions, time: time_ago_in_words(question.created_at.to_datetime)) %>
      </div>
      <%= question.user.username %>
    </div>
    <div class="large-12 columns add-comment">
      <%= link_to t(:add_comment, scope: :questions), new_question_question_comment_path(question) %>
    </div>
  </div>
  <% if question.question_comments.count >= 1 %>
      <div class="large-1 columns">
      </div>
      <div class="large-11 columns">
        <%= render question.question_comments %>
      </div>
  <% end %>
</div>
<div class="row">
  <div class="large-12 colums question-count">
    <%= t(:answers, scope: :questions) %> : <%= question.answers.count %>
  </div>
</div>
  <%= render question.answers %>
<div class="row">
  <hr />
  <div class="large-12 columns">
    <%= t(:answer_this_question, scope: :questions) %>
    <%= render './answers/form' %>
    <hr/> 
  </div>
</div>