<div class="row">
  <div class="large-3 columns">
    <ul class="inline-list text-center">
      <li>
        <span><%= t(:votes, scope: :questions) %></span>
        <p>1</p>
      </li>
      <li>
        <span><%= t(:answers, scope: :questions) %></span>
        <p><%= question.answers.count %></p>
      </li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="Question-Title">
      <h4>
        <%= link_to question.title, question_path(question) %>
      </h4>
    </div>
    <aside>
      <ul class="inline-list">
        <%= render question.tags %>
      </ul>
    </aside>
  </div>
</div>
<% unless outside_question_view %>
  <div class="row">
    <div class="large-12 columns">
      <p><%= question.body %></p>
    </div>
    <div class="large-12 columns">
      <%= t(:comments, scope: :questions) %>
    </div>
    <div class="large-10 columns">
      <%= render question.question_comments %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 colums">
      <%= t(:answers, scope: :questions) %> : <%= question.answers.count %>
    </div>
    <div class="large-12 colums">
      <%= render question.answers %>
    </div>
  </div>
  <hr />
  <div class="row">
  <div class="large-10 columns">
    <%= t(:answer_this_question, scope: :questions) %>
    <%= render './answers/form' %>
  </div>
<% end %>

<hr/>