<div class="row">
  <div class="large-12 columns">
    <div class="Question-Title">
      <h4>
        <%= link_to question.title, question_path(question) %>
      </h4>
    </div>
    <aside>
      <ul class="inline-list">
        <%= render question.tags %>
      </ul>
    </aside>
  </div>
</div>
<div class="row">
  <div class="large-1 columns">
      <%= link_to "<i class='fa fa-chevron-up'></i>".html_safe, vote_up_question_path(question), remote: true %>
        <h3><div id='votes-for-question-<%=question.id%>' ><%= question.votes_value %></div></h3><br />
      <%= link_to "<i class='fa fa-chevron-down'></i>".html_safe, vote_down_question_path(question), remote: true %>
  </div>
  <div class="large-11 columns">
    <p><%= question.body %></p>
  </div>
  <div class="large-12 columns">
    <%= t(:comments, scope: :questions) %>
  </div>
  <div class="large-10 columns">
    <%= render question.question_comments %>
  </div>
</div>
<div class="row">
  <div class="large-12 colums">
    <%= t(:answers, scope: :questions) %> : <%= question.answers.count %>
  </div>
  <div class="large-12 colums">
    <%= render question.answers %>
  </div>
</div>
<hr />
<div class="row">
  <div class="large-10 columns">
    <%= t(:answer_this_question, scope: :questions) %>
    <%= render './answers/form' %>
  </div>
</div>
<hr/>