<div class="row">
  <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
  <div class="large-10 columns">
    <div class="Question-Title">
    <%= link_to question.title, question_path(question) %>
    </div>
    <p><strong><%= question.user.username %> <%= t(:said) %>:</strong> <%= question.body %></p>
    <ul class="inline-list">
      <li>
        <%= link_to t(:comment, scope: :questions), new_question_comment_path(question.id) %>
      </li>
      <li>
        <%= link_to t(:reply, scope: :questions), new_question_answer_path(question.id) %>
      </li>
      <li>
        <%= link_to t(:edit, scope: :question), edit_question_path(@question) %>
      </li>  
    </ul>
  </div>
</div>
<% unless request.env['PATH_INFO'] == "/" %>
  <div>
    <div>
      <%= t(:comments, scope: :questions) %>
    </div>
    <%= render question.comments %>
  </div>
  <div>
    <%= t(:answers, scope: :questions) %>
  </div>
  <div>
    <%= render question.answers %>
  </div>
<% end %>

<hr/>