<div class="row">
  <div class="large-12 columns">
    <h2><%= t(:profile, scope: :users) %>  <%= link_to("<i class='fa fa-pencil'></i>".html_safe, edit_user_path(@profile)) if user_can_edit_profile @current_user, @profile %></h2>
  </div>
  <div class="large-3 columns">
      <%= image_tag @profile.avatar %>
  </div>
  <div class="large-6 columns">
    <div><%= t(:username, scope: :users, username:@profile.username) %></div>
  </div>
  <div class="large-3 columns">
    <div class=""><%= t(:questions, scope: :users, questions: @profile.questions.count) %></div>
    <div class=""><%= t(:answers, scope: :users, answers: @profile.answers.count) %></div>
    <div class=""><%= t(:comments, scope: :users, comments: @profile.comments) %></div>
  </div>
</div>