<div class="row">
  <div class="large-12 columns">
    <hr>
    <div class="comment-body">
      <%= question_comment.body %>
    </div>
    <div class="comment-info">
      <%= "#{t(:by, scope: :comments)} " %><%= link_to question_comment.user.username, user_profile_path(question_comment.user.username) %>, <%= t(:commented, scope: :comments, time: time_ago_in_words(question_comment.created_at))  %> 
      <%= edit_question_comment_toggle current_user, question_comment %>
    </div>
  </div>
</div>

