<div>
  <% unless user_signed_in? %>
    <%= link_to t(:signin, scope: :users), new_user_registration_path %>
    <%= link_to t(:login, scope: :users), new_user_session_path %>
    <%= link_to t(:facebook_login, scope: :users), user_omniauth_authorize_path(:facebook) %>
    <%= link_to t(:google_login, scope: :users), user_omniauth_authorize_path(:google_oauth2) %>
  <% else %>
     <%= current_user.email %>
    <%= link_to t(:signout, scope: :users), destroy_user_session_path, :method => :delete %>
  <% end %>

</div>