<div class="row">
  <div class="large-4 columns question-data">
    <ul class="inline-list text-center question-aside">
      <li>
        <span><%= t(:votes, scope: :questions) %></span>
        <p><%= question.votes_value %></p>
      </li>
      <li>
        <span><%= t(:answers, scope: :questions) %></span>
        <p><%= question.answers.count %></p>
      </li>
      <li class="question-views">
        <span><%= t(:views, scope: :questions) %></span>
        <p><%= question.times_viewed %></p>
      </li>
    </ul>
  </div>
  <div class="large-8 columns">
    <div class="question-title-text">
      <h4>
        <%= link_to question.title, question_path(question) %>
      </h4>
    </div>
    <aside>
      <ul class="inline-list">
        <%= render question.tags %>
      </ul>
    </aside>
  </div>
</div>
<hr>