<hr>
<div class="row">
  <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
  <div class="large-10 columns">
    <p><strong><%= answer.user.username %> <%= t(:said) %>:</strong> <%= answer.body %></p>
  </div>
</div>
<%= link_to t(:comment, scope: :answer), new_question_answer_comment_path(answer.question.id, answer.id) %>
<%= render answer.comments %>