<div class="row">
  <hr>
  <%= user_can_vote answer %>
  <div class="large-11 columns answer-body">
    <%= raw answer.body %>
  </div>
  <div class="large-11 columns">
    <div class="small-9 columns answer-links">
     <%= link_to t(:edit, scope: :answers), edit_question_answer_path(answer.question, answer) %>
    </div>
    <div class="small-3 columns user-info">
      <div class="question-time">
        <%= t(:asked, scope: :questions, time: time_ago_in_words(answer.created_at.to_datetime)) %>
      </div>
      <%= answer.user.username %>
    </div>
    <div class="large-1 columns">
    </div>
    <div class="large-10 columns add-comment">
      <%= link_to t(:add_comment, scope: :answers), new_question_answer_answer_comment_path(answer.question, answer) %>
    </div>
    <div class="large-1 columns">
    </div>
    <div class="large-11 columns">
      <%= render answer.answer_comments %>
    </div>
  </div>
</div>
