<hr>
<div class="row">
  <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
  <div class="large-10 columns">
    <p><strong><%= answer.user.username %> <%= t(:said) %>:</strong> <%= answer.body %></p>

    <ul class="inline-list">
      <li>
        <%= link_to t(:edit, scope: :answers), edit_question_answer_path(answer.question,answer) %>
      </li>
      <li>
        <%= link_to t(:comment, scope: :answers), new_question_answer_answer_comment_path(answer.question, answer) %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= t(:comments, scope: :answers) %>
  </div> 
  <div class="large-10 columns">
    <%= render answer.answer_comments %>
  </div>
</div>