<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= content_for?(:title) ? yield(:title) : ENV['APP_NAME'] %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
  </head>

  <body>
    <%= render 'shared/menu' %>
    <%- flash.each do |k, v| %>
      <div data-alert id="<%= k %>" class="alert-box <%= k %>">
        <%= v %><%= link_to "<i class='fa fa-close'></i>".html_safe, "#", class:"close" %> 
      </div>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
     tex2jax: {
       inlineMath: [ ['$','$'] ],
       processEscapes: true
     }
    });
  </script>
  <script type="text/javascript">
    function previewPanel() {
      var preview = $('#MathInput').val();
      $('#MathOutput').html(preview)
      MathJax.Hub.Typeset();
    }
  </script>
  <%= mathjax_tag %>
</html>
